<div class="list panel panel-default">
  <div class="panel-heading">
    <span class="list-name">{{list.name}}</span>
    <span class="edit-btn" {{action 'edit'}}>
      edit
    </span>

    <span class="del-btn-sm float-right" {{action 'delete'}}>
      X
    </span>

  </div>
  <div class="panel-body">
    {{#each list.items as |item|}}
      {{party-view/party-list/item item=item
                                   deleteItem='deleteItem'}}
    {{/each}}

    <h3 {{action "toggleForm"}}>+</h3>

    {{#if isOpen}}
      {{party-view/party-list/create-item list=list
                                          createItem='createItem'
                                          toggleForm='toggleForm'}}
    {{/if}}

  </div>
</div>
