<div class="view-wrapper">

  <div class="party-header">
    <span class="party-name">
      {{party.name}}
    </span>

    <div>{{party.location}}</div>

    <i class="fa fa-pencil edit-btn" {{action 'edit'}} aria-hidden="true"></i>

    <i class="fa fa-trash-o del-btn" {{action 'delete'}} aria-hidden="true"></i>
  </div>

  <div class="lists">
    {{#each party.lists as |list|}}
      {{party-view/party-list list=list
                              deleteList='deleteList'
                              editList='editList'
                              deleteItem='deleteItem'
                              createItem='createItem'}}
    {{/each}}

    <form {{action 'createList' on='submit'}}>
      {{input placeholder='Add list'
              class='input-group form-control'
              value=form.name}}

    </form>
  </div>
</div>
